.title {
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
}

.description {
  text-align: center;
  font-size: 1.4rem;
  color: #666;

  &Company {
    text-decoration: none;
  }
}

.links {
  padding-left: 0;
  text-align: center;

  li {
    list-style: none;
    display: inline-block;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
  }

  svg {
    fill: #333;
    color: #333;
    width: 1.5rem;
    height: 1.5rem;

    &:hover {
      fill: #888;
      color: #888;
    }
  }

  a {
    text-decoration: none;
  }
}
